# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out

# Debug files

*.cmake
*.~

# DIrectory ignore
.settings/
build/
html/
CMakeFiles/
dtss/CMakeFiles
misc/CMakeFiles
utilities/CMakeFiles
tokenizer/CMakeFiles
docs/html
docs/latex
docs/
